
<div class="container">
<br>

<font color="#2F4F4F"><h3>Welcome <%= current_user.name %></h3></font><br />
<font color="#2F4F4F"><h4>Current Project: <%= @project.name %></h4></font><br />
 Create <%= link_to "New Task", "/tasks/new/#{@project.id}" ,class: "btn btn-info btn-xs"%></td><br /><br />
<font color="#569AAB"><h4>Available Tasks</h4></font>
<div class="row">
<div class="col-md-8">
<table class="table table-striped">
  <thead>
    <tr>
      <th><font color="#337ab7">Name</th></font>
      <th><font color="#337ab7">Description</th></font>
      <th><font color="#337ab7">Start Date</th></font>
      <th><font color="#337ab7">End Date</th></font>
     

      <th></th>
    </tr>
  </thead>

  <tbody>
 <% @tasks.each do |task| %>
      <tr>      
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.startdate %></td>
        <td><%= task.enddate %></td>
    
        <td><%= link_to "Edit", "/edittask/#{@project.id}/#{task.id}", class: "btn btn-info btn-xs" %></td>
         <td><%= link_to "Delete", "/deletetask/#{@project.id}/#{task.id}", class: "btn btn-info btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table><br />
</div>
</div>

<div class="col-md-3">
  Create <%= link_to "New Attachment", "/attachment/new/#{@project.id}",class: "btn btn-info btn-xs"%></td><br /><br />
  <font color="#569AAB"><h4>Available Attachments</h4></font>
<table class="table table-striped">
  <tbody>
  <% @attachments.each do |attachment| %>
  <tr> 
    <td><%= link_to "#{attachment.file.original_filename}",attachment.file.url %></td>
         <td><%= link_to "Delete", "/deletefile/#{@project.id}/#{attachment.id}", class: "btn btn-info btn-xs" %></td>
      </tr>
    <br />
    <% end %>
 </div> 
</div>