
<div class="container">
  <br /><br />
 <h3><font color="#569AAB">New Task</font></h3><br>
  <div class="row">
<div class="col-lg-6"> 
<%= bootstrap_form_for(@task, local: true,url: {action: "createtask"}) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%= hidden_field_tag(:project_id,value = @project.id) %>

  <div class="form-group">
    <%= form.text_field :name,class: 'form-control input-sm' %>
  </div>

  <div class="form-group">
    <%= form.text_field :description,class: 'form-control input-sm' %>
  </div>

  <div class="form-group">
    <%= form.date_select :startdate,class: 'form-control input-sm' %>
  </div>

  <div class="form-group">
    <%= form.date_select :enddate,class: 'form-control input-sm' %>
  </div>
  <div class="actions">
    <%= form.hidden_field :status, :value => "InActive" %>
  </div>
 <div class="form-group">
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
</div>
</div>
<div>