<div class="container">
 <h3><font color="blue">New Attachment</font></h3><br>
  <div class="row">
<div class="col-lg-6"> 
<%= form_with(model: @attachment, local: true,:html => { :multipart => true },url: {action: "createattachment"}) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     <%= hidden_field_tag(:project_id,value = @project.id) %>

  <div class="field">
       <div class="field">
	    
	    <%= form.file_field :file %>
 	 </div>
   </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
<div>