
<div class="container">
 <h3><font color="blue">New Project</font></h3><br>
  <div class="row">
<div class="col-lg-6"> 
<%= form_with(model: @project, local: true,:html => { :multipart => true }) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= hidden_field_tag(:user_id,value = @user.id) %>
      <%= puts "in form #{@user.id}" %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :project_code %>
  </div>

  <div class="field">
    <%= form.label :startdate %>
    <%= form.date_select :startdate, id: :project_startdate %>
  </div>

  <div class="field">
    <%= form.label :enddate %>
    <%= form.date_select :enddate, id: :project_enddate %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :project_status %>
  </div>

   <div class="field">
      <%= form.fields_for :attachments do |attachment_fields| %>
      <%= attachment_fields.file_field :file %>
      <% end %>
   </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
<div>
