<% require 'freegeoip' %>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	IP Address : <%= @user.current_sign_in_ip %> <br/>
 
   <% ip = @user.current_sign_in_ip.to_s %>
 
   <% puts "----------#{ip}" %>
   <% location=Freegeoip.get(ip) %>
   <% country=location.country_name %>
   <% state= location.region_name %>
   <% city= location.city %>

	<b>Location</b><br/>
	Counrty: <%= country %><br/>
	State: <%= state %><br/>
	City: <%= city %>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
