

<div class="container">
  <br />
 <h3><font color="#569AAB">SignUp</font></h3><br>
  <div class="row">
<div class="col-lg-6"> 


<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <% ip=request.remote_ip %>
   <% puts "----------#{ip}" %>
  
  
  <div class="form-group">
    <%= f.text_field :name, autofocus: true,class: 'form-control input-sm' %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: 'form-control input-sm'%>
  </div>

  <div class="form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: 'form-control input-sm' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off",class: 'form-control input-sm' %>
  </div>

  <div class="form-group">   
  <%= f.select :organisation, Organisation.all.collect {|org| [org.name]}, {prompt: 'Select Organisation'} %>
  </div><br />

  <div class="form-group">
    <%= f.hidden_field :current_sign_in_ip, :value => "#{ip}" %>
  </div>

 
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
</div>
<%= render "users/shared/links" %>
<div>



