
<div class="container">
 <h3><font color="blue">Sign Up</font></h3><br>
  <div class="row">
<div class="col-lg-6"> 

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :select_organisation %><br />    
    <select class="selectpicker show-tick" data-width="100px" data-header="Select Organisation">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </div><br />

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
</div>
<div>

<%= render "users/shared/links" %>
